*{
    padding: 0;
    margin: 0;
    color: #2C3639;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
::selection {
  color: #DCD7C9;
  background: #2C3639;
}
body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: normal; }

a {
  text-decoration: none !important;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
a:hover, a:focus {
  outline: none !important; 
}
img{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  }

.PROJECT, .ABOUTME{
  margin: 4rem 0;
}
.SKILLSET{
  margin: 3rem 1rem;
}
.CONTACT{
  margin: 3rem 1rem;
}

.HOME{
  margin: 3rem 1rem;
}

nav{
  border-bottom: 1px solid #2C3639;
}

#root{
    background-color: #DCD7C9; 
    min-height: 100vh;
}
.row{
    --bs-gutter-x: 0rem;
}

#homepage{
    height: auto;
}

#ali-photo{
  position: relative;
    width: 20rem;
    border-radius: 50%;
    border: 5px solid #3F4E4F;
    z-index: 2;

}
#ali-sm-photo{
  position: relative;
  width: 13rem;
  border-radius: 50%;
  border: 5px solid #3F4E4F;
  z-index: 2;

}

.home-text{
    text-shadow: 1.5px 1px #3F4E4F ;
    text-align: center;
    font-size: 2.5rem;
}
.home-text2{
  text-shadow: 1px 0.5px #3F4E4F ;
  text-align: center;
  font-size: 1.5rem;
}

#error-page{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#footer{
    position: relative;
    bottom: 0rem;
}


.hello{
  font-size: 1.7rem !important;
}

.ali{
  font-size: 3.5rem !important;
}
.dot{
  color: #A27B5C;
  text-shadow: none !important;
}

  .ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 10px;
    display: inline-block; }
  .ftco-footer-social li a {
      height: 40px;
      width: 40px;
      display: block;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      background: transparent;
      border: 2px solid #2C3639;
      position: relative; }

  .sociallogo{
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

    footer {
    padding: 5em 0; }
  
  .footer-07 {
    border-top:1px solid #3F4E4F ;}
  .footer-07 a {
    color: #2C3639; }
    .footer-07 a:hover {
      color: #A27B5C; 
      text-shadow: 1px 1px #A27B5C;
    } 
  


.navbar-ul{
  margin-bottom: -0.5rem !important;
}

.nav-logo{
  max-width: 16rem;
}

.ftco-navbar-social li {
  list-style: none;
  margin: 30px 25px 0 0;
  display: inline-block; }
.ftco-navbar-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    background: transparent;
    position: relative; }

  .nav-sociallogo{
    position: absolute;
    font-size: 35px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

  .darkmode-layer {
    z-index: 1;
  }
  .darkmode-toggle{
    z-index: 3;
  }
  .card{
    z-index: 2;
  }
@media only screen and (min-width: 750px) {
    .footerlink{
      margin: 2rem;
      font-size: large;
      margin-bottom: 2rem;
    } 
    #homepage{
      height: auto;
      padding: 0 7rem 0 7rem;
  }
  .SKILLSET, .PROJECT, .ABOUTME{
    margin: 7rem 0 !important;
  }
  .CONTACT{
    margin: 7rem 0 0 0;
  }
  
  .HOME{
    margin: 6rem 0 !important;
  }

  .home-text{
    text-shadow: 1.5px 1px #3F4E4F ;
    text-align: left;
}
  .home-text2{
    text-shadow: 1px 0.5px #3F4E4F ;
    text-align: left;
  }
  .ftco-footer-social li {  
    margin: 0 20px 0 20px;
  }
  .ftco-footer-social li a {
    height: 60px;
    width: 60px;
  }

  .sociallogo{
    font-size: 35px;
  } 
  .ftco-navbar-social li {
    margin: 0 25px 0 0;
  }
}